.bot-menu{

    .bot-menu__top, .bot-menu__bot{
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .menu-item{
            flex-basis: 100%;
        }
    }
}