@import "slider.scss";

.dynamic-wrap{
    width:85%;
    margin: 60px auto;
    border-radius: 10px;

    text-align: center;
        .dynamic{
        display: flex;
        margin-bottom: 20px;
            &__left{
                flex-basis: 85%;
                .left__top{
                    display: flex;
                    .top__left, .top__right{
                        flex-basis: 50%;
                        text-align: left;
                        h2{
                            font-size: 150%;
                            // text-transform: uppercase;
                            padding: 20px 10px 20px 0;
                            // font-weight: bold;
                            position: relative;
                        }
                        h2:hover::before{
                            border-bottom: 2px solid #DD483B; 
                        }
                        h2::before{
                            content: '    ';
                            display: block;
                            position: absolute;
                            top: 90%;
                            margin-top: -1px;
                            width: 50px;
                            border-bottom: 2px solid black;
                        }
                        .div-text{
                           padding: 10px 20px 10px 0;
                           font-size: 100%;
                        }
                    }
                }
                .left__bottom{
                    width: 100%;
                    text-align: left;
                    h2{
                        font-size: 150%;
                        // text-transform: uppercase;
                        padding: 20px 10px 20px 0;
                        // font-weight: bold;
                        position: relative;
                    }
                    h2:hover::before{
                        border-bottom: 2px solid #DD483B; 
                    }
                    h2::before{
                        content: '     ';
                        display: block;
                        position: absolute;
                        top: 90%;
                        margin-top: -1px;
                        width: 50px;
                        border-bottom: 2px solid black;
                    }
                    .div-text{
                        padding: 10px 20px 10px 0;
                        font-size: 100%;
                    }
                    #more{
                        width: 100%;
                        position: relative;
                    }
                    #more> img{
                        // float:right;
                        // margin: 10px 30px;
                        position: absolute;
                        right:10%;
                        cursor: pointer;
                    }
                    #more> img:hover{
                        content:url('../../dist/img/img/podrobnee_ON.png');
                    }
                }
            }

            &__right{
                flex-basis: 15%;
                width:100%;
                img{
                   width:100%;
                   margin: auto;
                }
            }
        }
        .dynamic-title{
            width:100%;
            h1{
                font-size: 220%;
                margin-bottom: 20px;
                // font-weight: bold;
                // text-transform: uppercase;
                font-family: Verdana, Tahoma, sans-serif;
            }
        }
}