@import "const.scss";
@import "animation.scss";
@import "header.scss";
@import "content.scss";
@import "footer.scss";

* {
    box-sizing: border-box;
}

body {
    background: $bg-color;
}

.wrap{
    max-width: 1200px;
    margin: auto;
}
// div{
//     outline: 1px solid green;
// }