.my-slider{
    .slider__title{
        h2{
            font-size: 150%;
            text-align: left;
            // text-transform: uppercase;
            padding: 20px 10px 20px 0;
            // font-weight: bold;
            position: relative;
        }
        h2::before{
            content: '   ';
            display: block;
            position: absolute;
            top: 90%;
            margin-top: -1px;
            width: 50px;
            border-bottom: 2px solid black;
        }
        h2:hover::before{
            border-bottom: 2px solid #DD483B; 
        }
    }
    .slider__slider{

        .regular {
            width: 50%;
            margin: 10px auto;

            .slick-slide{
                img{
                    width: 60%;
                    margin: 10px auto 10px auto;
                }
                img:nth-child(1):hover{
                    content:url('../../dist/img/slider/dwnld_ON.png');
                }
                img:nth-child(3):hover{
                    content:url('../../dist/img/img/download_ON.png');
                }
                p{
                    text-align: center;
                    font-size: 90%;
                }

            }

            .slick-prev {
                left: -50%;
            }
            .slick-prev:before {
                content:url('../../dist/img/slider/arrowL.png');
            }

            .slick-next {
                right: -50%;
                transform: scale(-1, 1);
            }
            .slick-next:before {
                content:url('../../dist/img/slider/arrowL.png');
            }
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }

        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: .2;
        }

        .slick-active {
            opacity: .5;
        }

        .slick-current {
            opacity: 1;
        }
    }
}

.slick-dots li button:before {
font-size: 33px
}

.div-more{
    height: 40px; 
    width: 90px;
    position: relative;
    margin-top: 10px;
    .btn-link{
        border-radius: 5px;
        height: 100%; 
        width: 100%;
        background-size: 100%;
        background-color: transparent;
        background-repeat:no-repeat;
        border:none;
        position: absolute;
        left: 30%;
    }

    .a-link{
        background-image:url('../../dist/img/img/podrobnee.png');
    }
    .a-link:hover{
        background-image:url('../../dist/img/img/podrobnee_ON.png');
    }
}
.img-dld{
    cursor: pointer;
}
.div-txt{
    height: 100px; 
    overflow: hidden; // Обрезаем все, что не помещается в область /
    text-overflow: ellipsis; // Добавляем многоточие /
}