.slider{
    .slider__title{
        h2{
            font-size: 150%;
            text-transform: uppercase;
            padding: 20px 10px 20px 0;
            font-weight: bold;
            position: relative;
        }
        h2::before{
            content: '_____';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            width: 50px;
            border-bottom: 1px solid black;
        }
    }
}