.top-menu{
    width:85%;
    margin: auto;

    .top-menu-top, .top-menu-bot{
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
        .menu-item{
            flex-basis: 100%;
            cursor:pointer;
            img{
                width: 90%;
            }
        }
    }

    .top-menu-top{
        &__1 > img:hover{
            content:url('../../dist/img/menu/1.png');
        }
        &__2 > img:hover{
            content:url('../../dist/img/menu/2.png');
        }
        &__3 > img:hover{
            content:url('../../dist/img/menu/3.png');
        }
        &__4 > img:hover{
            content:url('../../dist/img/menu/4.png');
        }
    }

    .top-menu-bot{
        &__5 > img:hover{
            content:url('../../dist/img/menu/5.png');
        }
        &__6 > img:hover{
            content:url('../../dist/img/menu/6.png');
        }
        &__7 > img:hover{
            content:url('../../dist/img/menu/7.png');
        }
        &__8 > img:hover{
            content:url('../../dist/img/menu/8.png');
        }
    }
  
}
